* {
    box-sizing: border-box;
}
 
 
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color:#ddd;
}

header {
    padding: 60px;
    text-align: center;
    background: #184445FF;
    color: white;
    font-size: 30px;
}

section{
   margin-bottom: 120px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #184445FF;
    color: white;
    text-align: center;
    font-size: .75rem;
 }

.row {
    display: flex;
}

.left {
    flex: 35%;
    padding: 15px 0;
}

.left h2 {
    padding-left: 8px;
}

.right {
    flex: 65%;
    padding: 15px;
}

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#myMenu li a:hover {
    background-color: #eee;
}
